html,body{
	margin : 0;
	padding: 0;
	width : 100%;
	background-color : #008080;
}
#content_area{
	height : 400px;
	width  : 500px;
	background-color : #c0c0c0;
	margin : 0 auto;
	margin-top : 100px;
	padding : 20px;
	border-radius : 5px; 
}
#display{
	height : 34px;
	padding : 5px;
	width : 100%;
	background-color : #FEFEFE;
	font-size: 24px;
	text-align: right;
	margin-bottom : 20px;
	border-radius : 3px;
}
#button_area{
	width   : 100%;
	padding : 5px;
	background-color : #cccccc;
	height : 300px;
	border-radius : 5px;
	margin-top : 10px;
}
.btn{
	background-color : #00d3e4;
	height : 50px;
	width : 95px;	
	font-size: 24px;
}
